/* ==============================================================
                        MEDIA-QUERIES
=================================================================*/
html {
    font-size: 62.5%; //1 rem = 10px; 10px/16px =62.5%;

    @media only screen and (max-width: 768px) {
        font-size: 55%;
    }

    @media only screen and (max-width: 576px) {
        font-size: 50%;
    }
}

/* ==============================================================
                        CSS BASIC
=================================================================*/
/* clear right white space on mobile view */
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
   overflow-x: visible; 

    /* @media only screen and (max-width: 576px) {
         overflow-x: hidden; 
    } */
}  

body {
    font-family: 'Advent Pro', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    background-color: rgba(216, 216, 216, 0.253);
}

/* ==============================================================
                        ANIMATION 
=================================================================*/
