.header {
  height: 100vh;

  /* LEFT */
  &__textboxLeft {
    border-left: 3px solid rgba(255, 255, 255, 0.8);
    padding: 4rem 0rem 4rem 1rem;

    @media only screen and (max-width: 992px) {
      border-left: none;
    }
  }

  &__h3 {
    font-size: 3rem;
    letter-spacing: 0.2rem;
    font-weight: 600;
    opacity: 0.95;

    &--adult {
      font-size: 6rem;
      line-height: 1;
      font-weight: 600;
    }
  }

  &__p {
    font-size: 1.2rem;
    letter-spacing: 0.15rem;
  }

  &__social {
    &--icon {
      color: white !important;
      opacity: 0.8;
      display: inline-block;
      font-size: 3.35rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
    &--down {
      font-size: 5rem;
      transition: all 0.2s;

      &:hover {
        transform: translateY(-2px);
      }
    }
  }

  /* CENTER */
  &__imagebox {
    &--img {
      max-width: 250px;
      opacity: 0.7;

      &--1 {
        margin-top: -6rem;
      }

      &--2 {
        margin-top: -12rem;
        opacity: 1;
      }

      &--3 {
        margin-top: -12rem;
      }
    }

    &--down {
      margin-top: -8rem;
    }
  }

  /* RIGHT */
  &__textboxRight {
    border-right: 3px solid rgba(255, 255, 255, 0.8);
    padding: 4rem 1rem 4rem 0rem;

    @media only screen and (max-width: 992px) {
      border-right: none;
    }
  }

  &__input {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.7);
    color: rgba(255, 255, 255, 0.7);
    text-align: right;
    height: 4.5rem;
    outline: none;
    font-weight: 700;
    letter-spacing: 0.2rem;

    &::placeholder {
      color: back;
      text-transform: lowercase;
    }
    &:focus {
      outline: none;
      border-bottom: 0.3rem solid rgb(44, 114, 44);
    }

    &:focus:invalid {
      border-bottom: 0.3rem solid rgba(178, 67, 89, 1);
    }
  }

  &__btn {
    position: relative;
    background-color: rgba(255, 255, 255, 0.3);;
    font-size: 1.3rem;
    padding: 1.3rem 3rem;
    margin-top: 1rem;
    color: white;
    letter-spacing: 0.3rem;
    opacity: 0.7;
    overflow: hidden;

    &::after {
      content: "";
      background-color: rgba(255, 255, 255, 0.35);
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      transform: translateX(-100%);
      transition: all 0.3s;
    }

    &:hover::after {
      transform: translateX(0);
    }
  }

  &__beer {
    max-width: 220px;
    opacity: 0.7;
  }
}
